{% extends "pages/base.jinja" %}

{% block title %} 
    Flask demo - Single Things
{% endblock %}

{% block content %}

    <section id="things">

            <article>
                <header>
                    {{ thing["name"] }}
                </header>

                Cost ${{ thing["cost"] }}

                <footer>
                    Delete
                </footer>
                
            </article>

        {% endfor %}

    </section>



{% endblock %}