{% extends "pages/base.jinja" %}

{% block title %} 
    Flask Demo - Not found
{% endblock %}

{% block content %}
    <section>
        <h2>You have an Error, L + ratio not my problem :o</h2>
    </section>

    
{% endblock %}