{% extends "pages/base.jinja" %}

{% block title %} 
    Flask Demo 
{% endblock %}

{% block content %}
    <section id="hero"> 
        <h1>Hello!!</h1>

    </section>

            <p>Booooooooo</p>


{% endblock %}